@model AM.ApplicationCore.Domain.Ticket

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TicketNbre" class="control-label"></label>
                <input asp-for="TicketNbre" class="form-control" />
                <span asp-validation-for="TicketNbre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prix" class="control-label"></label>
                <input asp-for="Prix" class="form-control" />
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Siege" class="control-label"></label>
                <input asp-for="Siege" class="form-control" />
                <span asp-validation-for="Siege" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="VIP" /> @Html.DisplayNameFor(model => model.VIP)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PassengerFK" class="control-label"></label>
                <select asp-for="PassengerFK" class ="form-control" asp-items="ViewBag.PassengerFK"></select>
            </div>
            <div class="form-group">
                <label asp-for="FlightFK" class="control-label"></label>
                <select asp-for="FlightFK" class ="form-control" asp-items="ViewBag.FlightFK"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
